.App {
  text-align: center;
  background-color: #00293C;
}

.App-header {
  background-color: #00293C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.button:hover {
  background-color: #F1F3CE;
  color: #00293C;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
}

.button {
  color: #F1F3CE;
  background-color: #00293C;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 22px;
}
.main-buttons {
  justify-content: center;
  /* margin: 50px; */
}

.logo-main {
  justify-content: center;
  width: 800px;
}

.logo-small {
  width: 600px;
}

.logo-nav {
  width: 300px;
}

.senator-grid {
  background-color: #00293C;
  color: #F1F3CE;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20% ;
}

.senator-thumbnail-gop {
  justify-content: center;
  border: solid;
  margin: 20px 20px 20px;
  text-align: center;
}

.senator-thumbnail-dem {
  justify-content: center;
  border: solid;
  margin: 20px 20px 20px;
  text-align: center;
}

.senator-thumbnail-gop:hover {
  background-color: #F62A00;
}

.senator-thumbnail-dem:hover {
  background-color: #1E656D;
}

.thumbnail-images {
  justify-content: center;
  width: 80%;
  padding-top: 40px;
}

.senator-modal-gop {
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  border: solid;
  margin: 20px 20px 20px;
  text-align: center;
  background-color: #F62A00;
  border-color: #F1F3CE
}

.senator-modal-dem {
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  border: solid;
  margin: 20px 20px 20px;
  text-align: center;
  background-color: #1E656D;
  border-color: #F1F3CE
}

.modal-images {
  justify-content: center;
  width: 80%;
  padding-top: 40px;
}

.popup-content{
  background-color: #F1F3CE
}

.senator-card-dem {
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  border: solid;
  margin: 20px 20px 20px;
  text-align: center;
  background-color: #1E656D;
  border-color: #F1F3CE
}

.senator-card-gop {
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;
  border: solid;
  margin: 20px 20px 20px;
  text-align: center;
  background-color: #F62A00;
  border-color: #F1F3CE
}

.senator-cards {
  width:500px;
  height: 500px;
}

.main {
  background-color: #00293C;
  color: #F1F3CE;
}

.nav-links {
  padding: 10px;
  text-size: 20px;
  height:100%;
  justify: right;
  margin: 10px;
}

.nav {
  background-color: #00293C;
  justify-content: right;
  align-items: center;
  height: 40%;
}

.nav-logo {
  align-items: center;
  justify-content: left;
}
/* colors =
navy - #00293C
blue - #1E656D
ivory - #F1F3CE
red - #F62A00 */
