.App {
  text-align: center;
  background-color: #00293C;
}

.App-header {
  background-color: #00293C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button:hover {
  background-color: #F1F3CE;
  color: #00293C;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
}

.button {
  color: #F1F3CE;
  background-color: #00293C;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 22px;
}
.main-buttons {
  justify-content: center;
  /* margin: 50px; */
}

.logo-main {
  justify-content: center;
  width: 800px;
}

.logo-small {
  width: 600px;
}
